<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682667176462-t8ng7a2089vqn38svtipkau8jduaoq2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682667176462-t8ng7a2089vqn38svtipkau8jduaoq2b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>682667176462-mtdv8g1hhe3lkkte8qvf2oal5f32p8qm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrtvexwRvlyZH_rv-8VoAy58-kZK7W3s8</string>
	<key>GCM_SENDER_ID</key>
	<string>682667176462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>revents.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>revents-977c1</string>
	<key>STORAGE_BUCKET</key>
	<string>revents-977c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682667176462:ios:e3db053b915196dcb4825f</string>
	<key>DATABASE_URL</key>
	<string>https://revents-977c1.firebaseio.com</string>
</dict>
</plist>